* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* banner section styles */

.banner-section {
  background: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  height: 800px;
  text-align: right;
}
.banner-content {
  padding: 215px 230px 160px 860px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
}
.banner-content p {
  margin-top: 24px;
  margin-bottom: 32px;
}
.btn-primary {
  background: #ffffff;
  border: 0;
  border-radius: 5px;
  color: #005fac;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  padding: 20px 25px;
}
.btn-primary:hover {
  background: #16d887;
  color: #ffffff;
}

/* main section styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* About me section styles */

.about-me-section {
  display: flex;
  gap: 100px;
  margin-top: 130px;
}
.about-me-section img {
  width: 500px;
}
.name {
  color: #005fac;
  font-size: 50px;
  font-weight: 700;
}
.about-title {
  font-size: 65px;
  font-weight: 700;
  line-height: 76px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 24px;
}
.btn-secondary {
  background: #005fac;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  padding: 20px 25px;
}

.btn-secondary:hover {
  background: #16d887;
  color: #005fac;
}

/* failures section styles*/

.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}
.failures-section {
  color: #444343;
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 130px;
}
.list-of-failures h2 {
  padding-top: 100px;
  width: 60%;
}
.list-of-failures p {
  width: 80%;
}
.failure-description {
  margin-top: 24px;
  margin-bottom: 16px;
}
.failure-item {
  margin-bottom: 8px;
}
.list-of-failures p > i {
  color: #16d887;
}

/* plan section styles */

.plans-section .section-title {
  text-align: center;
  margin-bottom: 50px;
}
.plans {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 130px;
  text-align: center;
}
.plan .plan-title {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.plan .plan-description {
  color: #737272;
}

/* Call now section styles */

.call-now-section {
  background: linear-gradient(
      90deg,
      rgba(0, 95, 172, 0.9),
      rgba(0, 95, 172, 0.1)
    ),
    url(../images/watch.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 130px;
  padding: 59px 617px 59px 64px;
}
.call-now-section h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 24px;
}

/* footer styles */

.footer-section {
  background-color: #151414;
  color: #ffffff;
  display: flex;
  gap: 230px;
  padding: 130px 230px;
  text-align: left;
}
.footer-title {
  color: #f8f8f8;
  font-size: 45px;
  margin-bottom: 16px;
}
.footer-section p {
  margin-bottom: 16px;
}
.footer-section .social-links img {
  margin-top: 16px;
  margin-right: 8px;
}
.footer-description {
  margin-bottom: 24px;
}
.subscription-title {
  font-size: 25px;
  margin-bottom: 31px;
}
.subscription input {
  background-color: #151414;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 10px 15px;
}
