* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* banner section styles */

.banner-section {
  background: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 800px;
  text-align: right;
  color: #ffffff;
}
.banner-content {
  padding: 215px 230px 160px 860px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
}
.banner-content p {
  margin-top: 24px;
  margin-bottom: 32px;
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #005fac;
  padding: 20px 25px;
  border: 0;
  border-radius: 5px;
}

/* main section styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* list of failures */
.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}
.list-of-failures {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 130px;
  color: #444343;
}
.failures h2 {
  padding-top: 100px;
  width: 60%;
}
.failures p {
  width: 80%;
}
.failure-description {
  margin-top: 24px;
  margin-bottom: 16px;
}
.failure-item {
  margin-bottom: 8px;
}

.failures p > i {
  color: #16d887;
}
